/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body, html {
  min-height: 100%;
  width: 100%;
}

.clear::after, .clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/aleo/Aleo-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/aleo/Aleo-Bold.otf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Aleo";
  src: url(../fonts/aleo/Aleo-Italic.otf);
  font-weight: normal;
  font-style: italic;
}

body {
  font: 14px "Aleo", sans-serif;
  color: #e8e8e8;
}

.button {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 50px 0;
}

.button__link {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #354ebd;
}

.button:active {
  background-color: #1e2f7c;
}

.title {
  color: #fff;
  font-size: 36px;
  text-transform: capitalize;
}

.choose {
  width: 100%;
  height: 685px;
  background: url(../images/choose.jpg) no-repeat top center;
  background-size: cover;
}

@media (max-width: 767px) {
  .choose {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.choose__row {
  padding: 120px 0;
}

@media (max-width: 767px) {
  .choose__row {
    padding: 0 20px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}

.choose__block_title {
  padding: 85px 0 60px;
}

@media (max-width: 767px) {
  .choose__block_title {
    padding: 20px 0;
  }
}

.choose__block_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 1.6px;
  text-align: left;
  color: #e8e8e8;
}

.choose__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__pictures_img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
}

.choose__pictures_img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
}

@media (max-width: 767px) {
  .choose__pictures {
    display: none;
  }
}

.feedback {
  width: 100%;
  height: 730px;
  background: url(../images/travel.jpg) no-repeat top center;
  background-size: cover;
}

@media (max-width: 767px) {
  .feedback {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.feedback__block {
  padding: 120px 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .feedback__block {
    padding: 20px 0;
  }
}

.feedback__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  background: url(../images/tourist.jpg) no-repeat top left;
  background-size: contain;
  background-color: #333333;
}

@media (max-width: 1024px) {
  .feedback__row {
    background: transparent;
    margin: 0;
  }
}

.feedback__article {
  padding: 50px 50px 50px 100px;
}

@media (max-width: 767px) {
  .feedback__article {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px;
  }
}

.article {
  font-family: "Josefin Sans", sans-serif;
}

.article__author {
  font-size: 20px;
  color: #fefefe;
  text-transform: uppercase;
  padding-bottom: 40px;
}

.article__text {
  font-size: 16px;
  color: #e8e8e8;
  text-align: justify;
  line-height: 1.6;
  position: relative;
}

.article__text_quote {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 22px;
  font-weight: bold;
  color: #5474fd;
  line-height: 1;
}

.article .padd {
  padding-left: 35px;
}

.footer {
  width: 100%;
  background: #232323;
  font-family: "Josefin Sans", sans-serif;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.footer__logo {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3.36px;
  padding: 120px 0 15px;
}

@media (max-width: 767px) {
  .footer__logo {
    padding: 20px 0 10px;
  }
}

.footer__slogan {
  font-size: 16px;
  text-transform: capitalize;
}

.social {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 50px;
}

@media (max-width: 767px) {
  .social {
    padding: 20px 0;
  }
}

.social svg {
  height: 16px;
  fill: #fff;
}

a {
  text-decoration: none;
  color: currentColor;
}

.header {
  background: url(../images/header.jpg) no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 820px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 767px) {
  .header {
    height: 340px;
  }
}

.header__block {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 265px;
}

@media (max-width: 767px) {
  .header__block {
    padding-top: 100px;
  }
}

.header__block_title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
}

@media (max-width: 767px) {
  .header__block_title {
    font-size: 30px;
  }
}

.header__block_desc {
  font-size: 22px;
  letter-spacing: 6.82px;
}

.header__block_search {
  padding: 50px 0 120px;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
}

.search__input {
  width: 500px;
  height: 60px;
  font-size: 14px;
  padding-left: 20px;
  color: #999999;
  letter-spacing: 2.8px;
}

@media (max-width: 767px) {
  .search__input {
    width: 300px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .search__input {
    width: 200px;
    height: 60px;
  }
}

.search__input::-webkit-input-placeholder {
  font-size: 14px;
  text-align: center;
  color: #999999;
  letter-spacing: 2.8px;
}

.search__input:-ms-input-placeholder {
  font-size: 14px;
  text-align: center;
  color: #999999;
  letter-spacing: 2.8px;
}

.search__input::-ms-input-placeholder {
  font-size: 14px;
  text-align: center;
  color: #999999;
  letter-spacing: 2.8px;
}

.search__input::placeholder {
  font-size: 14px;
  text-align: center;
  color: #999999;
  letter-spacing: 2.8px;
}

.search__submit {
  width: 150px;
  height: 60px;
  background-color: #5474fd;
  position: relative;
  cursor: pointer;
}

.search__submit_label {
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 10px;
  cursor: pointer;
}

.search__submit_img {
  width: 20px;
  height: 22px;
  position: absolute;
  top: 18px;
  right: 17px;
  fill: #fff;
}

.search__submit:hover {
  background-color: #354ebd;
}

.search__submit:active {
  background-color: #1e2f7c;
}

.scroll {
  position: absolute;
  bottom: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #fff;
  -webkit-animation: scroll 2s ease-in-out infinite;
          animation: scroll 2s ease-in-out infinite;
  cursor: pointer;
}

@media (max-width: 767px) {
  .scroll {
    display: none;
  }
}

.scroll__text {
  font-size: 14px;
  letter-spacing: 2.8px;
}

.scroll__arrow > svg {
  fill: #fff;
}

@-webkit-keyframes scroll {
  0% {
    bottom: 25%;
  }
  50% {
    bottom: 22%;
  }
  100% {
    bottom: 25%;
  }
}

@keyframes scroll {
  0% {
    bottom: 25%;
  }
  50% {
    bottom: 22%;
  }
  100% {
    bottom: 25%;
  }
}

.navigation {
  width: 100%;
  height: 80px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  background-color: #5474fd;
  color: #fff;
}

@media (max-width: 767px) {
  .navigation {
    background: transparent;
  }
}

.navigation__menu {
  position: fixed;
  top: 15px;
  left: 3%;
  z-index: 99;
  background: #5474fd;
  padding: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 767px) {
  .navigation__menu {
    display: none;
  }
}

.navigation__input {
  display: none;
}

.navigation__input:checked + .navigation__menu {
  width: 56px;
  left: 250px;
}

.navigation__input:checked + .navigation__menu .burger-menu span {
  display: none;
}

.navigation__input:checked + .navigation__menu .burger-menu::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation__input:checked + .navigation__menu .burger-menu::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation__input:checked ~ .menu {
  left: 0;
}

.navigation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 1;
    width: 250px;
    height: 100%;
    background: #5474fd;
    -webkit-transition: .3s;
    transition: .3s;
    padding-top: 25px;
    display: block;
  }
}

.menu__item {
  font-size: 14px;
  text-align: center;
  letter-spacing: normal;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

@media (max-width: 767px) {
  .menu__item {
    display: block;
    padding: 20px, 0;
    font-size: 18px;
  }
}

.menu__item::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #fefefe65;
  position: absolute;
  right: 50%;
  bottom: -35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__item:hover::after {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -10px;
}

.menu__main_page {
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 26px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__main_page:hover {
  text-shadow: 0 0 2em black;
}

.menu__main_page:hover::after {
  width: 0;
}

@media (max-width: 767px) {
  .menu__main_page {
    display: block;
    margin: 20px, 0;
    font-size: 18px;
    padding-left: 60px;
  }
}

.burger-menu {
  width: 50px;
  height: 40px;
  display: block;
  position: relative;
}

.burger-menu span {
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fefefe;
  border-radius: 3px;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  top: 50%;
  width: 100%;
  height: 5px;
}

.burger-menu::before {
  background: #fefefe;
  border-radius: 3px;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  top: 0;
  width: 100%;
  height: 5px;
  content: "";
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.burger-menu::after {
  background: #fefefe;
  border-radius: 3px;
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  top: calc(100% - 5px);
  width: 100%;
  height: 5px;
  content: "";
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.offer {
  width: 100%;
  height: 700px;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 767px) {
  .offer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.offer--first {
  background: url(../images/spain-1.jpg) no-repeat top center;
  background-size: cover;
}

.offer--second {
  background: url(../images/spain-2.jpg) no-repeat top center;
  background-size: cover;
}

.offer__block {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px 30px 0;
  margin-top: 220px;
  color: #e8e8e8;
  text-align: left;
}

@media (max-width: 767px) {
  .offer__block {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0;
  }
}

.offer__location {
  font-size: 20px;
  letter-spacing: 1.5px;
}

.offer__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #fefefe;
  padding: 28px 0;
}

.offer__desc {
  font-size: 16px;
  line-height: 1.63;
}

.rectangle {
  width: 100%;
  background: #333333;
  position: relative;
}

@media (max-width: 767px) {
  .rectangle {
    display: none;
  }
}

.rectangle__dot1 {
  position: absolute;
  top: 45px;
  left: 27%;
}

@media (max-width: 1024px) {
  .rectangle__dot1 {
    display: none;
  }
}

.rectangle__dot2 {
  position: absolute;
  top: 45px;
  right: 27%;
}

@media (max-width: 1024px) {
  .rectangle__dot2 {
    display: none;
  }
}

.rectangle__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0 120px;
}

.rectangle__block:hover {
  background: #2c2c2c48;
  border-radius: 50%;
}

.rectangle__block:hover > .rectangle__title {
  color: #fefefe;
}

.rectangle svg {
  height: 60px;
  cursor: pointer;
}

.rectangle__title {
  padding-top: 34px;
  font-size: 36px;
  color: #e8e8e8;
  text-transform: capitalize;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */