* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@font-face {
	font-family: "Aleo";
	src: url(../fonts/aleo/Aleo-Regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Aleo";
	src: url(../fonts/aleo/Aleo-Bold.otf);
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Aleo";
	src: url(../fonts/aleo/Aleo-Italic.otf);
	font-weight: normal;
	font-style: italic;
}

body {
	font: 14px $aleo;
	color: $grey;
}