.feedback {
    width: 100%;
    height: 730px;
    background: url(../images/travel.jpg) no-repeat top center;
    background-size: cover;

    @media (max-width: $mobile) {
        height: fit-content;
    }

    &__block {
        padding: 120px 0 200px;
        @include f-center;

        @media (max-width: $mobile) {
            padding: 20px 0;
        }
    }

    &__row {
        display: flex;
        margin-top: 90px;
        background: url(../images/tourist.jpg) no-repeat top left;
        background-size: contain;
        background-color: #333333;

        @media (max-width: $desktop) {
            background: transparent;
            margin: 0;
        }
    }


    &__article {
        padding: 50px 50px 50px 100px;
        
        @media (max-width: $mobile) {
            width: fit-content;
            padding: 20px;
        }
    }
}

.article {
    font-family: $josefin;

    &__author {
        font-size: 20px;
        color: #fefefe;
        text-transform: uppercase;
        padding-bottom: 40px;
    }

    &__text {
        font-size: 16px;
        color: $grey;
        text-align: justify;
        line-height: 1.6;
        position: relative;

        &_quote {
            @include pos($t: -15px, $l: 0);
            font-size: 22px;
            font-weight: bold;
            color: $blue;
            line-height: 1;
        }
    }

    .padd {
        padding-left: 35px;
    }

    // .fas {
    //     @include pos($t: -20px, $l: 0);
    //     font-size: 22px;
    //     color: $blue;
    //     line-height: 1;
    // }

}