.footer {
    width: 100%;
    background: $black;
    font-family: $josefin;
    
    &__row {
        @include f-center;
        color: #fff;
    }

    &__logo {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3.36px;
        padding: 120px 0 15px;
    }

    &__slogan {
        font-size: 16px;
        text-transform: capitalize;
    }
}

.social {
    width: 170px;
    @include f-between;
    padding: 30px 0 50px;

    svg {
        height: 16px;
        fill: #fff;
    }

}


